.accordion {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 450px;
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}
.accordion-title {
  transition: all 0.3s;
  color: blue;
  background-color: red;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}
.accordion-title:hover {
  background-color: orange;
}

.accordion-content {
  display: none;
  background-color: rgb(230, 213, 181);
  padding: 10px;
}
.accordion-item.active .accordion-content {
  display: block;
}
